@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--color-bg-app);
    color: var(--color-text-primary);
    font-family:
      Inter,
      system-ui,
      sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
